node_modules
.next
.git
.gitignore
.idx
.cache
.config
.local
.upm
tmp
*.log
*.pid
package-lock.json
.env
.env.local
.env.*.local
flutter_app/.dart_tool
flutter_app/build
flutter_app/.flutter-plugins-dependencies
